
.progresses-bars{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20;
  width: 100%;
  left: 0;
}

.progress-bar {
    width: 100%;
    background-color: grey;
    flex: 1;
    margin: 0 10px;
}

.mybar {
    width: 0%;
    height: 30px;
    background-color: green;
}


.story > .story__cover > img { width: 200px;}

ul.story__items {
  list-style: none;
  display: none;
  padding: 0;
}

ul.story__items.current {
  display: block;
}

.story__item {
  display: none;
}

.story__item.active{
  display: block;
}

.story__item > span {
  position: absolute;
  bottom: 5px;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}
