
.progresses-bars{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20;
  width: 100%;
  left: 0;
}

.progress-bar {
    width: 100%;
    background-color: grey;
    flex: 1;
    margin: 0 10px;
}

.mybar {
    width: 0%;
    height: 30px;
    background-color: green;
}

.close {
  color: white;
  position: absolute;
  top: 80;
  right: 10;
}

.post-stories {
  display: flex;
  flex-direction: row;
}

.story{
  flex: 1;
  margin: 5px;

}

.story > .story__items > .btn-prev {
  height: 100%;
  width: 10%;
  background: transparent;
  position: absolute;
  left: 0;
}

.story > .story__items > .btn-next {
  height: 100%;
  width: 10%;
  background: transparent;
  position: absolute;
  right: 0;
}

.story > .story__cover > img { width: 40%;}

ul.story__items {
  list-style: none;
  display: none;
  padding: 0;
}

ul.story__items.current {
  display: block;
}

.story__item {
  display: none;
}

.story__item.active{
  display: block;
}

.story__item > span {
  position: absolute;
  bottom: 5px;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}
