.post-stories {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.story {
  flex: 1;
  margin: 5px;

  &__cover {
    > img {
      width: 40%;
    }
  }

  &__items{
    list-style: none;
    display: none;
    padding: 0;

    &.current {
      display: block;
    }

    > .btn-prev, .btn-next {
      height: 100%;
      width: 10%;
      background: transparent;
      position: absolute;
    }

    > .btn-prev {
      left: 0px;
    }

    > .btn-next {
      right: 0px;
    }

    > .progresses-bars {
      position: absolute;
      display: flex;
      flex-direction: row;
      top: 20px;
      width: 100%;
      left: 0px;

      > .progress-bar {
        width: 100%;
        background-color: grey;
        flex: 1;
        margin: 0 10px;

        > .mybar {
          width: 0%;
          height: 30px;
          background-color: green;
        }
      }
    }

    > .btn-close {
      color: white;
      position: absolute;
      top: 80px;
      right: 10px;
    }


  }

  &__item {
    display: none;

    &.active {
      display: block;
    }

    > img {
      width: 100%;
    }

    > span {
      position: absolute;
      bottom: 5px;
      font-weight: bolder;
      color: white;
      font-size: 30px;
    }
  }
}
