.modal.modal-stories {
  outline: 0!important;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
}

.post-stories {
  margin: 0 auto;
  width: 100%;
  display: block;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.story {
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;

  &.current {
    width: unset;
    max-width: none;
    height: 100%;
    margin: 0;
  }

  &__cover {
    .seen &{
      background: #999;
    }

    overflow: hidden;
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 2px;
    background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%);

    > img {
      display: block;
      border-radius: 50%;
      border: 3px solid #fff;
      box-sizing: border-box;
      height: 80px;
      width: 80px;
      background-size: cover;
      background-position: center;
    }
  }

  &__items{
    .current &  {
      display: block;
    }

    padding: 0;

    > .btn-prev, .btn-next {
      z-index: 1;
      height: 100%;
      width: 10%;
      background: transparent;
      position: absolute;
    }

    > .btn-prev {
      left: 0px;
    }

    > .btn-next {
      right: 0px;
    }

    > .progresses-bars {
      position: absolute;
      display: flex;
      flex-direction: row;
      top: 20px;
      width: 100%;
      left: 0px;

      > .progress-bar {
        width: 100%;
        background-color: grey;
        flex: 1;
        margin: 0 10px;

        > .mybar {
          width: 0%;
          height: 30px;
          background-color: green;
        }
      }
    }

    > .btn-close {
      color: white;
      position: absolute;
      top: 80px;
      right: 10px;
      z-index: 2;
    }


  }

  &__item {
    display: none;

    &.active {
      display: block;
    }

    > img {
      width: 100%;
    }

    > span {
      position: absolute;
      bottom: 5px;
      left: 0;
      font-weight: bolder;
      color: white;
      font-size: 30px;
    }
  }
}
